<h1 class="text-center">Aprobar Recetas</h1>

<div class="row">
  <div class="col-md-12">
    <!--
    <button class="btn btn-primary" type="button">
      Recetas sin aprobar   <span class="badge">7</span>
    </button>
  -->
  </div>
</div>

<div class="row aprobar-recetas-table">
  <table class="table table-striped">
    <thead>
      <th>Receta</th>
      <th>Leer</th>
      <th>Aprobar</th>
      <th>Eliminar</th>
    </thead>

    <tr ng-repeat="receta in recetasAAprobar">
      <td>{{receta.titulo}}</td>
      <td> <button type="button" class="btn btn-info" name="button" ng-click="leerReceta(receta.id)"> Leer</button></td>
      <td> <button type="button" class="btn btn-success" name="button" ng-click="aprobar(receta.id)"> Aprobar</button></td>
      <td><button type="button" class="btn btn-danger" name="button" ng-click="eliminar(receta.id)"> Eliminar</button></td>
    </tr>


  </table>
</div>

<div class="row" style="display:none">
  <ul class="pagination">
  <li><a href="#">1</a></li>
  <li><a href="#">2</a></li>
  <li><a href="#">3</a></li>
  <li><a href="#">4</a></li>
  <li><a href="#">5</a></li>
</ul>
</div>
