<h1 class="text-center">Aprobar Recetas</h1>

<div class="row">
  <div class="col-md-12">
    <button class="btn btn-primary" type="button">
      Recetas sin aprobar   <span class="badge">7</span>
    </button>
  </div>
</div>

<div class="row aprobar-recetas-table">
  <table class="table table-striped">
    <thead>
      <th>Receta</th>
      <th>Leer</th>
      <th>Aprobar</th>
    </thead>

    <tr>
      <td>Receta 1</td>
      <td> <button type="button" class="btn btn-info" name="button"> Leer</button></td>
      <td> <button type="button" class="btn btn-success" name="button"> Aprobar</button></td></td>
    </tr>
    <tr>
      <td>Receta 2</td>
      <td> <button type="button" class="btn btn-info" name="button"> Leer</button></td>
      <td> <button type="button" class="btn btn-success" name="button"> Aprobar</button></td></td>
    </tr>
    <tr>
      <td>Receta 3</td>
      <td> <button type="button" class="btn btn-info" name="button"> Leer</button></td>
      <td> <button type="button" class="btn btn-success" name="button"> Aprobar</button></td></td>
    </tr>
    <tr>
      <td>Receta 4</td>
      <td> <button type="button" class="btn btn-info" name="button"> Leer</button></td>
      <td> <button type="button" class="btn btn-success" name="button"> Aprobar</button></td></td>
    </tr>
    <tr>
      <td>Receta 5</td>
      <td> <button type="button" class="btn btn-info" name="button"> Leer</button></td>
      <td> <button type="button" class="btn btn-success" name="button"> Aprobar</button></td></td>
    </tr>
    <tr>
      <td>Receta 6</td>
      <td> <button type="button" class="btn btn-info" name="button"> Leer</button></td>
      <td> <button type="button" class="btn btn-success" name="button"> Aprobar</button></td></td>
    </tr>
    <tr>
      <td>Receta 7</td>
      <td> <button type="button" class="btn btn-info" name="button"> Leer</button></td>
      <td> <button type="button" class="btn btn-success" name="button"> Aprobar</button></td></td>
    </tr>



  </table>
</div>

<div class="row">
  <ul class="pagination">
  <li><a href="#">1</a></li>
  <li><a href="#">2</a></li>
  <li><a href="#">3</a></li>
  <li><a href="#">4</a></li>
  <li><a href="#">5</a></li>
</ul>
</div>
