<h1 class="text-center">Control de usuarios</h1>

<table class="table table-striped">
  <thead>
    <th>Usuario</th>
    <th>Perfil</th>
    <th>Accion</th>
  </thead>
  <tr ng-repeat="u in usuariosExistentes">
    <td>{{u.username}}</td>
    <td>

      <select class="form-control" ng-model="permisoElegido.permiso" ng-options="pe.id as pe.nombre for pe in perfilesExistentes track by pe.id">
        
      </select>
    </td>
    <td><button type="button" class="btn btn-success" name="button" ng-click="cambiarPermiso(u.id)">Asignar</button></td>
  </tr>

</table>
